/**   color  scss **/

/**  table th bg **/
$pl-tab-th-bg: #565656;
$mg-tab-th-bg: #565656;

/**  left nav con bg **/
$pl-nav-con-bg: #343a40;
$mg-nav-con-bg: #343a40;

/**  left nav item bg **/
$pl-nav-im-bg: #343a40;
$mg-nav-im-bg: #343a40;

/**  left nav  item active bg **/
$pl-nav-imact-bg: #40a0ff;
$mg-nav-imact-bg: #40a0ff;

/**  left nav item dropment bg **/
$pl-nav-imdm-bg: #343a40;
$mg-nav-imdm-bg: #243663;

/**  left nav item dropment active bg **/
$pl-nav-imdmact-bg: #40a0ff;
$mg-nav-imdmact-bg: #d5e4f2;

/**  dialog header bg **/
$pl-dh-bg: #123456;
$mg-dh-bg: #f9f9f9;

/**  dialog header close btn color **/
$pl-dh-cc: #123456;
$mg-dh-cc: #b00e0e;

